# CPU-only PyTorch wheel source
-f https://download.pytorch.org/whl/cpu/torch_stable.html

flask==3.1.2
flask-cors==6.0.1
pymongo==4.15.4
python-dotenv==1.2.1
groq==0.36.0
pdfplumber==0.11.8
transformers==4.57.1
torch==2.2.2+cpu   # CPU-only compatible version
faiss-cpu==1.13.0
google-api-python-client==2.187.0
google-auth==2.41.1
google-auth-httplib2==0.2.1
google-auth-oauthlib==1.2.3
